<div class="container mt-5">

  <h1>Mangas#new</h1>


  <p>Find me in app/views/mangas/new.html.erb</p>

<%= simple_form_for(@manga) do |f| %>
  <%= f.input :saga %>
  <%= f.input :description %>
  <%= f.input :volume %>
  <%= f.input :picture %>
  <%= f.submit %>
<% end %>

</div>
