
<div class="mt-5 main-container">
  <div class="main-div">

    <div class="left-div-image" style="background-image: url('<%= cl_image_path(@manga.photo.key)%>')"%>
    </div>

    <div class="right-div-infos <%= current_user == @manga.user ? 'justify-content-around' : 'justify-content-between'%>">
      <div class="infos-div">
        <div class="saga-volume-div">
          <h1>
            Saga : <%= @manga.saga %>
          </h1>
          <h2>
            Volume : <%= @manga.volume %>
          </h2>
        </div >
        <div class = "description-div">
          <p style="text-align: justify"><%= @manga.description %>
          </p>
        </div>
      </div>

          <% if current_user != @manga.user %>
            <div class="booking-container-visitor">
              <h2>Book this manga !</h2>
              <div class="form-size">
                <%= simple_form_for [@manga, @booking], data: { controller: 'flatpickr' } do |f| %>
                  <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
                  <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: 'end_time' } %>
                  <div class="submit-create-booking">
                    <div class="button-div">
                      <%= link_to mangas_path, class: "button-black linkto-home ", style: "margin: 1px"  do  %>
                        Back to list
                      <% end %>
                      <% if current_user == @manga.user %>
                        <%= link_to edit_manga_path(@manga), class: "button-white", style: "margin: 1px" do  %>
                          Update it
                        <% end %>
                      <% else %>
                          <%= f.button :submit, "Submit", class: "button-white"%>
                      <% end %>
                      <% if policy(@manga).destroy? %>
                        <%= link_to manga_path(@manga), class: "button-red linkto-home", style: "margin: 1px", data: {turbo_method: :delete, turbo_confirm: "Confirm your will to delete this manga"} do  %>
                          Delete It
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <% else %>
              <div class="booking-container-owner">
                <h1>This is your manga</h1>
                <div class="submit-create-booking">
                  <div class="button-div">
                    <%= link_to mangas_path, class: "button-black linkto-home ", style: "margin: 1px"  do  %>
                      Back to list
                    <% end %>
                    <% if current_user == @manga.user %>
                        <%= link_to edit_manga_path(@manga), class: "button-white", style: "margin: 1px" do  %>
                          Update it
                        <% end %>
                      <% else %>
                          <%= f.button :submit, "Submit", class: "button-white"%>
                      <% end %>
                      <% if policy(@manga).destroy? %>
                        <%= link_to manga_path(@manga), class: "button-red linkto-home", style: "margin: 1px", data: {turbo_method: :delete, turbo_confirm: "Confirm your will to delete this manga"} do  %>
                          Delete It
                        <% end %>
                    <% end %>
                    </div>
                  </div>
              </div>

          <% end %>

      </div>
  </div>
</div>

<%# Un snipets pour créer un lien clickable très cool - peut contenir une image ou autre - : %>
<%# <%= link_to root_path, class: "b-black linkto-home" do  %>
<%# <i class="fa-solid fa-flower"></i> JE VAIS AJOUTER UNE DIV... %>
<%# <% end %>
