<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <div>
      <img src="<%= @manga.picture %>" alt="front page manga saga volume">
    </div>
    <div class="d-flex flex-column align-content-center" style="max-width: 400px">
      <div>
        <h1>Saga : <%= @manga.saga %>
        </h1>
        <h2>Volume : <%= @manga.volume %>
        </h2>
        <div >
        <p><%= @manga.description %>
        </p>
        </div>
      </div>
        <div>
          <%= link_to mangas_path, class: "btn-black linkto-home" do  %>
            Back to list
          <% end %>
        </div>
      </div>
  </div>
</div>

<%# NOTEZ : Marie conseille d'intégrer le form de réservation sur cette view. ;o) %>


<%# Un snipets pour créer un lien clickable très cool - peut contenir une image ou autre - : %>
<%# <%= link_to root_path, class: "btn-black linkto-home" do  %>
<%# <i class="fa-solid fa-flower"></i> JE VAIS AJOUTER UNE DIV... %>
<%# <% end %>
