
<div class="container mt-5">
  <div class="d-flex justify-content-between margin-left-1 margin-right-1">
    <div class="img-fluid" style="margin-left: 130px">
      <%= cl_image_tag @manga.photo.key, crop: :fill, class:"illustration-show" if @manga.photo.key %>
    </div>
    <div class="d-flex col-md-4 flex-column align-content-center" style="margin-right: 130px">
      <div >
        <h1 style="margin-bottom: 24px">Saga : <%= @manga.saga %>
        </h1>
        <h2 style="margin-bottom: 32px">Volume : <%= @manga.volume %>
        </h2>
      </div >

      <div>
        <p style="text-align: justify"><%= @manga.description %>
        </p>
      </div>

      <div class="div-right d-flex" style="margin-top: 330px">
          <%= link_to mangas_path, class: "button-black linkto-home ", style: "margin: 1px"  do  %>
            Back to list
          <% end %>


          <% if current_user == @manga.user %>
            <%= link_to edit_manga_path(@manga), class: "button-white", style: "margin: 1px" do  %>
              Update it ?
            <% end %>
          <% else %>
            <%= link_to new_manga_booking_path(@manga), class: "button-white", style: "margin: 1px" do  %>
              Book it !
            <% end %>
          <% end %>




          <% if policy(@manga).destroy? %>
            <%= link_to manga_path(@manga), class: "button-red linkto-home", style: "margin: 1px", 'data-turbo-method': :delete do  %>
              Delete It
            <% end %>
          <% end %>


        </div>
      </div>
  </div>
</div>

<%# Un snipets pour créer un lien clickable très cool - peut contenir une image ou autre - : %>
<%# <%= link_to root_path, class: "b-black linkto-home" do  %>
<%# <i class="fa-solid fa-flower"></i> JE VAIS AJOUTER UNE DIV... %>
<%# <% end %>
